<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>数据分析</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap static/css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- style static/css -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom static/css -->
      <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/static/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnstatic/js.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <!--引入echarts-->
      <script src="static/js/echarts.min.js"></script>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div  class="head_top">
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#banner_main"> Home  </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#blog_main">Analyse</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#contact">About Us</a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main" id="banner_main">
               <div class="container">
                  <div class="row d_flex">
                     <div class=" col-xl-8 col-lg-8 col-md-8 col-12-9">
                        <div class="text-bg">
                           <h1>司法大作业<br> <span class="white1">数据分析及可视化</span></h1>
                           <p>司法数据专业性强，数据的多元异构性显著，数据深度运用存在阻碍。司法数据包含各种结构化和半结构化数据，通过对司法数据的分析并进行可视化，可以清楚地传达数据的含义，解释趋势和统计数据，并且预测将来的发展。</p>
                           <a href="#blog_main">开始阅读</a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- blog_main -->
      <div class="blog_main" id="blog_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>数据分析与可视化</h2>
                  </div>
               </div>
            </div>
            <!-- fist section -->
            <div class="row">
               <div class="col-md-12">
                  <div class="our_two_box">
                     <div class="row d_flex">
                       
                           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_img">
                              <figure><img src="static/images/词云2.png" alt="#"/></figure>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_text_box">
                              <h3 class="awesome pa_wi">案件发生地</h3>
                              <p>通过该词云，我们可以清晰地发现，河南省、湖南省等地区的犯罪率相对较高。其中也是有蛛丝马迹可循的，这些省、市的少数地区发展相对落后、教育普及水平较低、社会教育方面欠缺，思想道德约束不足，对法律的意识欠缺，从而更容易走上犯罪的道路。</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    <!-- end fist section -->
    <!-- secend section -->
            <div class="row">
               <div class="col-md-12">
                  <div class="our_two_box">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="our_img">
                              <figure><img src="static/images/allin.png" alt="#"/></figure>
                              <!--class="our_img"-->
                               <!-- <figure><img src="static/images/our_img3.jpg" alt="#"/></figure>-->
                           </div>
                        </div>
                        
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end secend section -->

             <!-- three section -->
                     <div class="row">
                         <div class="col-md-6 padding_bottom2">
                           <div id="echart1" style="width: 600px;height:400px;">
                              <!--class="our_img"-->
                               <!-- <figure><img src="static/images/our_img3.jpg" alt="#"/></figure>-->
                           </div>
                           <div class="our_text_box three_box">
                              
                              
                              <div class="post_box d_flex padding_top3">
                                 <h3 class="awesome padding_flot">性别比例</h3>
                              </div>
                              <p>从占总数比例柱状图中可以看出：男性的犯罪率远高于女性。生理条件上的差异导致女性实施犯罪行为时采用的方式、方法更为隐蔽，而男性的犯罪行为则更具暴力性，刑法规定的刑事犯罪行为中通常是暴力相关，这符合我们的柱状图显示的情形。</p>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div>
                           <div class="our_img" id="echart2" style="width: 700px;height:400px;">
                              <!--class="our_img"-->
                              <!--<figure><img src="static/images/our_img4.jpg" alt="#"/></figure>-->
                           </div>
                           </div>
                           <div class="our_text_box three_box">
                             
                              
                              <div class="post_box d_flex padding_top3">
                                  <h3 class="awesome padding_flot">罪行比例</h3>
                              </div>
                              <p>解析罪行得到如上的pie图，发现刑事犯罪的种类众多，其中最常见的因素是故意杀人、抢劫，同时涉毒人员数量也不容忽视，三者占比均超过10%，而剩余罪行如：强奸、防火、绑架、非法持有枪支等占比较小(小于5%)且通常伴随前三种罪行发生</p>
                           </div>
                        </div>
                     </div>
                 
     
    <!-- end three section -->
   
             <!-- for section -->
            <div class="row">
               <div class="col-md-12">
                  <div class="our_two_box magna_top90">
                     <div class="row d_flex">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div id="echart3" style="width: 600px;height:400px;">
                              <!--class="our_img" -->
                               <!-- <figure><img src="static/images/our_img3.jpg" alt="#"/></figure>-->
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                           <div class="our_text_box">
                              <h3 class="awesome pa_wi">民族比例</h3>
                              <p>通过该柱状图，我们可以明确地发现汉族人犯罪的人数远高于少数民族，这与汉族与少数民族的人数差距有无法剥离的关系。在中国，汉族人口基数大，约占全国人口总数的91.51%左右，也就是说，10个人中，有不少于9个人是汉族。在相同犯罪的可能性下，汉族人数多于少数民族人数是显然的。</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    <!-- end for section -->


         </div>
      <!-- end blog_main -->

      <!-- contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>小组成员</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <form class="main_form ">
                     <div class="row">
                        <div class="col-md-12 " align="center">
                           <text class="form_contril">学号：201250051&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名：石睿琪</text>
                        </div>
                        <div class="col-md-12" align="center">
                           <text class="form_contril">学号：201250032&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名：张桐柯</text>
                        </div>
                        <div class="col-md-12" align="center">
                           <text class="form_contril">学号：201250222&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名：于金甲</text>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 ">
                     <div class="cont">
                        <h3> <strong class="multi"> 司法大作业</strong><br>
                           数据分析与可视化
                        </h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>重新阅读请点击<a href="#"> 这里</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <!--echarts代码-->
  <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('echart1'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: '性别比例'
        },
        tooltip: {},
        legend: {
          data: ['占比']
        },
        xAxis: {
          data: ['男', '女']
        },
        yAxis: {},
        series: [
          {
            name: '比例',
            type: 'bar',
            data: [{{ genderlist[0] }},
            {
              value: {{ genderlist[1] }},
              itemStyle: {
                color: '#a90000'
              }
            },]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

      //另一个图表
  var myChart = echarts.init(document.getElementById('echart2'));
       option = {
        title: {//标题组件
                   textStyle: {
                   color: "#333333",
                   fontSize: 12,
                   }
                },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)",
            textStyle:{    //图例文字的样式
                        color:'#fff',  //文字颜色
                        fontSize:10    //文字大小
                    }
        },
        graphic:[
             {
          type: 'text',
          top: '40%',
          left: 'center',
          style: {
             text: '100',
             fill: '#333333',
             fontSize: 20,
             fontWeight: 'normal'
          }
          },{
          type: 'text',
          top: '53%',
          left: 'center',
          style: {
             text: '所犯罪行分布',
             fill: '#A6A8B6',
             fontSize: 12,
             fontWeight: 'normal'
          }
          },
        ],
        //圆环的颜色
        color:['#48cda6','#fd87fb','#11abff','#ffdf6f','#968ade'],
        // 图例
        legend: {
        // 图例选择的模式，控制是否可以通过点击图例改变系列的显示状态。默认开启图例选择，可以设成 false 关闭。
        selectedMode: true,
            /* orient: 'vertical', */
           /*  x : 'right',   //图例显示在右边
                    y: 'center',  */  //图例在垂直方向上面显示居中
                    bottom:0,
                    itemWidth:10,  //图例标记的图形宽度
                    itemHeight:10, //图例标记的图形高度
            data:['故意杀人罪', '抢劫罪', '贩毒或吸食毒品罪', '其他所有'],
            textStyle:{    //图例文字的样式
                        color:'#A6A8B6',  //文字颜色
                        fontSize:10    //文字大小
                    }
        },
        series: [
            {
                name:'所犯罪行分布',
                type:'pie',
                center:['50%','45%'], //饼图的中心（圆心）坐标，数组的第一项是横坐标，第二项是纵坐标。
                radius: ['45%', '60%'],//饼图的半径，数组的第一项是内半径，第二项是外半径。[ default: [0, '75%'] ]
                avoidLabelOverlap: false,
                animation: false,//是否禁用动画效果
                label: {
                    normal: {
                        show: true,//是否显示标签
                         //标签的位置。'outside'饼图扇区外侧，通过视觉引导线连到相应的扇区。'inside','inner' 同 'inside',饼图扇区内部。'center'在饼图中心位置。
                        position: 'left',
                        //显示的标签的内容
                        //a（系列名称），b（数据项名称），c（数值）, d（百分比）
                        formatter: "{a},{b}:{c}（{d}%）"

                    },
                    emphasis: {
                    //鼠标放在圆环上显示的标签样式
                        show: true,
                        textStyle: {
                            fontSize: '12',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: true,//是否显示引导线
                         length:10,  //百分比引导线
                         length2:20    //视觉引导项第二段的长度。
                    }
                },
                itemStyle: {
                            normal: {
                                borderColor: "#FFFFFF",
                                borderWidth: 1,
                                label:{
                                    show:true,
                                    formatter:'{d}%'
                                },
                            }
                        },
                        // 系列中的数据内容数组。
                data:[
                    {value:{{accusationlist[0]}}, name:'故意杀人罪'},
                    {value:{{accusationlist[1]}}, name:'抢劫罪'},
                    {value:{{accusationlist[2]}}, name:'贩毒或吸食毒品罪'},
                    {value:{{accusationlist[3]}}, name:'其他所有'}
                ]
            }
        ]
    };
       myChart.setOption(option);



       //第三个图表
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('echart3'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: '民族比例'
        },
        tooltip: {},
        legend: {
          data: ['占比']
        },
        xAxis: {
          data: ['汉族', '少数民族']
        },
        yAxis: {},
        series: [
          {
            name: '比例',
            type: 'bar',
            data: [{{ ethnicitylist[0] }},
            {
              value: {{ ethnicitylist[1] }},
              itemStyle: {
                color: '#a90000'
              }
            },]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

  </script>
   </body>
</html>

